<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magecko_blog>
            <storefront>
                <enabled>0</enabled>
                <route>blog</route>
                <heading>Blog</heading>
            </storefront>
        </magecko_blog>
    </default>
</config>
